<template>
    <ion-page>
        <HeadBar/>
        <ion-content>
            <BonEntreeItemList :bon_entree="bon_entree"/>
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button @click="openBEModal()">
                    <ion-icon :icon="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-content>
    </ion-page>
</template>

<script>
import axios from 'axios';
import { IonPage, IonContent, IonFab, IonFabButton, modalController } from '@ionic/vue';
import HeadBar from '@/components/HeadBar.vue';
import { add } from 'ionicons/icons';
import BonEntreeItemList from '@/components/BonEntreeItemList.vue';
import BonEntreeModal from '@/components/BonEntreeModal.vue';
export default {
    components: {
        HeadBar,
        BonEntreeItemList,
        IonPage,
        IonContent,
        IonFab,
        IonFabButton,
    },
    data() {
        return {
            bon_entree: [],
            prods: [],
            add
        }
    },
    created: async function() {
        await this.getProducts();
        await this.getBonEntree();
    },
    methods: {
        async getProducts() {
            return new Promise((resolve, reject) => {
                axios.get(`http://localhost:8080/gest_stock/webapi/produit`)
                .then(response => {
                this.prods = [...response.data];
                resolve('Success !');
                })
                .catch(e => {
                    reject(e);
                })
            })
        },
        async getBonEntree() {
            return new Promise((resolve, reject) => {
                axios.get(`http://localhost:8080/gest_stock/webapi/bon_entree`)
                .then(response => {
                let data = response.data;
                this.bon_entree = [...data];
                resolve('Success !');
                })
                .catch(e => {
                    reject(e);
                })
            })
        },
        async openBEModal() {
        const modal = await modalController.create({
            component: BonEntreeModal,
            componentProps: {
                form_method: 'add'
            }
        });
        await modal.present();
        modal.onDidDismiss().then(async (data) => {
          if (data.data === 'withReq') {
            await this.getBonEntree();
          }
        })
        },
    }
}
</script>

<style>
    .alert-message.sc-ion-alert-md {
        padding-bottom: 0;
    }
    .alert-input-group.sc-ion-alert-md {
        padding-top: 5px;
    }
    select#prod-bs {
        height: 30px;
        width: 100%;
    }
</style>