<template>
    <ion-page>
        <HeadBar/>
        <ion-content>
            <BonSortieItemList :bon_sortie="bon_sortie"/>
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button @click="openBSModal()">
                    <ion-icon :icon="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-content>
    </ion-page>
</template>

<script>
import axios from 'axios';
import { IonPage, IonContent, IonFab, IonFabButton, modalController } from '@ionic/vue';
import HeadBar from '@/components/HeadBar.vue';
import { add } from 'ionicons/icons';
import BonSortieItemList from '@/components/BonSortieItemList.vue';
import BonSortieModal from '@/components/BonSortieModal.vue';
export default {
    components: {
        HeadBar,
        BonSortieItemList,
        IonPage,
        IonContent,
        IonFab,
        IonFabButton,
    },
    data() {
        return {
            bon_sortie: [],
            prods: [],
            add
        }
    },
    created: async function() {
        await this.getProducts();
        await this.getBonSortie();
    },
    methods: {
        async getProducts() {
            return new Promise((resolve, reject) => {
                axios.get(`http://localhost:8080/gest_stock/webapi/produit`)
                .then(response => {
                this.prods = [...response.data];
                resolve('Success !');
                })
                .catch(e => {
                    reject(e);
                })
            })
        },
        async getBonSortie() {
            return new Promise((resolve, reject) => {
                axios.get(`http://localhost:8080/gest_stock/webapi/bon_sortie`)
                .then(response => {
                let data = response.data;
                this.bon_sortie = [...data];
                resolve('Success !');
                })
                .catch(e => {
                    reject(e);
                })
            })
        },
        async openBSModal() {
        const modal = await modalController.create({
            component: BonSortieModal,
            componentProps: {
                form_method: 'add'
            }
        });
        await modal.present();
        modal.onDidDismiss().then(async (data) => {
          if (data.data === 'withReq') {
            await this.getBonSortie();
          }
        })
        },
    }
}
</script>

<style>
    .alert-message.sc-ion-alert-md {
        padding-bottom: 0;
    }
    .alert-input-group.sc-ion-alert-md {
        padding-top: 5px;
    }
    select#prod-bs {
        height: 30px;
        width: 100%;
    }
</style>