<template>
    <ion-page>
        <HeadBar/>
        <ion-content>
            <ProductItemList :prods="prods"/>
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-fab-button @click="addProdAlert">
                    <ion-icon :icon="add"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-content>
    </ion-page>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { alertController } from '@ionic/core';
import { IonPage, IonContent, IonFab, IonFabButton, toastController } from '@ionic/vue';
import { add } from 'ionicons/icons';
import HeadBar from '@/components/HeadBar.vue';
import ProductItemList from '@/components/ProductItemList.vue';
export default {
    components: {
        HeadBar,
        ProductItemList,
        IonPage,
        IonContent,
        IonFab,
        IonFabButton
    },
    data() {
        return {
            prods: [],
            add
        }
    },
    created: async function() {
        await this.getProducts();
    },
    methods: {
        async getProducts() {
            return new Promise((resolve, reject) => {
                axios.get(`http://localhost:8080/gest_stock/webapi/produit`)
                .then(response => {
                let data = response.data;
                this.prods = [...data];
                resolve('Success !');
                })
                .catch(e => {
                    reject(e);
                })
            })
        },
        addProdAlert () {
        return alertController
            .create({
            header: 'Ajouter produits',
            inputs: [
                {
                name: 'design',
                id: 'design',
                placeholder: 'Designation',
                },
                {
                name: 'stock',
                type: 'number',
                required: true,
                placeholder: 'Stock',
                min: 0,
                },
            ],
            buttons: [
                {
                text: 'Annuler',
                role: 'cancel',
                cssClass: 'secondary',
                },
                {
                text: 'Ok',
                handler: (data) => {
                    console.log('dezi', data.design);
                    if (data.design && data.stock) {
                        let designation = data.design;
                        let stock = data.stock;
                        axios.post(`http://localhost:8080/gest_stock/webapi/produit`, {
                            designation : designation,
                            stock : stock
                            }).then((res) => {
                                this.prods.push({
                                    num_produit: res.data,
                                    designation : designation,
                                    stock : stock
                                })
                                axios.post(`http://localhost:8080/gest_stock/webapi/bon_entree`, {
                                    num_produit: res.data,
                                    qte_entree: stock,
                                    date_entree: moment(new Date()).format("YYYY-MM-DD")
                                }).catch(e => console.log(e));
                            }).catch(e => console.log(e))
                    } else {
                        this.toastRequiredMsg();
                        return false;
                    }
                    
                },
                },
            ],
            })
            .then(a => a.present())
        },
    async toastRequiredMsg() {
      const toast = await toastController
        .create({
          header: 'Champs requis',
          message: 'Veuillez remplir tous les champs',
          position: 'top',
          duration: 5000,
          buttons: [{
              text: 'OK',
              role: 'cancel'
            }
          ]
        })
      await toast.present();
    }
    }
}
</script>

<style scoped>

</style>