<template>
  <div class="header">
    <ion-list-header style="font-weight: bolder"> Liste des bons d'entrée </ion-list-header>
    <ion-searchbar placeholder="Rechercher" v-model="searchQuery"></ion-searchbar>
  </div>
  <ion-list v-if="bon_entree && filteredBE.length > 0">
    <ion-item v-for="bon in filteredBE" :key="bon.num_bon_entree">
      <ion-label>
        <h2>{{bon.designation}}</h2>
        <p style="font-size:12px">
        Date : {{formatDate(bon.date_entree)}}<br>
        Quantité entree : {{bon.qte_entree}}
        <!-- Stock actuel : {{bon.stock}} -->
        </p>
      </ion-label>
      <ion-button size="small" fill="clear" color="dark" @click="openBEModal(bon.num_bon_entree, bon.date_entree, bon.qte_entree, bon.stock)">
        <ion-icon :icon="pencil"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" color="dark" @click="deleteAlert(bon.num_bon_entree)">
        <ion-icon :icon="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { alertController } from '@ionic/core';
import { IonList, IonListHeader, IonItem, IonLabel, IonSearchbar, modalController } from '@ionic/vue';
import BonEntreeModal from '@/components/BonEntreeModal.vue';
import { pencil, trash } from 'ionicons/icons';
export default {
    components: {
      IonList,
      IonListHeader,
      IonItem,
      IonLabel,
      IonSearchbar
    },
    props: ['bon_entree'],
    data() {
      return {
        pencil,
        trash,
        filteredBE: [],
        searchQuery: "",
      }
    },
    watch: {
      bon_entree: {
        handler(newVal) {
          this.filteredBE = [...newVal];
        },
        immediate: true,
        deep: true
      },
      searchQuery: {
        handler(newVal) {
          if (newVal === '') {
          this.filteredBE = [...this.bon_entree];
        } else {
          this.filteredBE = this.bon_entree.filter(prod => {
            return (moment(prod.date_entree).format('DD/MM/YYYY').includes(newVal.toLowerCase()) || prod.designation.toLowerCase().includes(newVal.toLowerCase()) || prod.qte_entree.toString().includes(newVal));
          })
        }
        },
        immediate: true
      }
    },
    methods : {
      formatDate (dateString) {
        let dateOnly = dateString.split('Z');
        let datePortion = dateOnly[0].split('-');
        return `${datePortion[2]}/${datePortion[1]}/${datePortion[0]}`
      },
      async openBEModal(num_bon_entree, date_entree, qte_entree, stock) {
        const modal = await modalController.create({
            component: BonEntreeModal,
            componentProps: {
                form_method: 'update',
                numBE: num_bon_entree,
                dateBE: date_entree,
                qteBE: qte_entree,
                stock: stock
            }
        });
        await modal.present();
        modal.onDidDismiss().then((data) => {
          if (data.data === 'withReq') {
            axios.get(`http://localhost:8080/gest_stock/webapi/bon_entree`)
                  .then(response => {
                  this.filteredBE = [...response.data];
                  })
                  .catch(e => {
                      console.log(e);
                  })
          }
        })
        },
      deleteAlert (numBE) {
      return alertController
            .create({
              header: 'Confirmation',
              subHeader: 'Etes-vous vraiment sûr de vouloir supprimer cet élément ?',
              buttons: [{
              text: 'Non',
              role: 'cancel',
              cssClass: 'secondary',
              },
              {
              text: 'Oui',
              handler: () => {
                axios.delete(`http://localhost:8080/gest_stock/webapi/bon_entree/${numBE}`)
                .then(() => {
                  let targetBE = this.filteredBE.find(item => item.num_bon_entree === numBE);
                  let index = this.filteredBE.indexOf(targetBE);
                  this.filteredBE.splice(index, 1);
                })
                .catch(e => console.log(e))
              },
            },
            ],
            })
            .then(a => a.present())
    }
    }
}
</script>

<style scoped>
  .header{
    margin: 800px;
    margin: 10px;
    position: relative;
  }
</style>