<template>
  <div class="header">
    <ion-list-header style="font-weight: bolder"> Liste des bons de sortie </ion-list-header>
    <ion-searchbar placeholder="Rechercher" v-model="searchQuery"></ion-searchbar>
  </div>
  <ion-list v-if="bon_sortie && filteredBS.length > 0">
    <ion-item v-for="bon in filteredBS" :key="bon.num_bon_sortie">
      <ion-label>
        <h2>{{bon.designation}}</h2>
        <p style="font-size:12px">
        Date : {{formatDate(bon.date_sortie)}}<br>
        Quantité sortie : {{bon.qte_sortie}}
        <!-- Stock actuel : {{bon.stock}} -->
        </p>
      </ion-label>
      <ion-button size="small" fill="clear" color="dark" @click="openBSModal(bon.num_bon_sortie, bon.date_sortie, bon.qte_sortie, bon.stock)">
        <ion-icon :icon="pencil"></ion-icon>
      </ion-button>
      <ion-button size="small" fill="clear" color="dark" @click="deleteAlert(bon.num_bon_sortie)">
        <ion-icon :icon="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { alertController } from '@ionic/core';
import { IonList, IonListHeader, IonItem, IonLabel, IonSearchbar, modalController } from '@ionic/vue';
import BonSortieModal from '@/components/BonSortieModal.vue';
import { pencil, trash } from 'ionicons/icons';
export default {
    components: {
      IonList,
      IonListHeader,
      IonItem,
      IonLabel,
      IonSearchbar
    },
    props: ['bon_sortie'],
    data() {
      return {
        pencil,
        trash,
        filteredBS: [],
        searchQuery: "",
      }
    },
    watch: {
      bon_sortie: {
        handler(newVal) {
          this.filteredBS = [...newVal];
        },
        immediate: true,
        deep: true
      },
      searchQuery: {
        handler(newVal) {
          if (newVal === '') {
          this.filteredBS = [...this.bon_sortie];
        } else {
          this.filteredBS = this.bon_sortie.filter(prod => {
            return (moment(prod.date_sortie).format('DD/MM/YYYY').includes(newVal.toLowerCase()) || prod.designation.toLowerCase().includes(newVal.toLowerCase()) || prod.qte_sortie.toString().includes(newVal));
          })
        }
        },
        immediate: true
      }
    },
    methods : {
      formatDate (dateString) {
        let dateOnly = dateString.split('Z');
        let datePortion = dateOnly[0].split('-');
        return `${datePortion[2]}/${datePortion[1]}/${datePortion[0]}`
      },
      async openBSModal(num_bon_sortie, date_sortie, qte_sortie, stock) {
        const modal = await modalController.create({
            component: BonSortieModal,
            componentProps: {
                form_method: 'update',
                numBS: num_bon_sortie,
                dateBS: date_sortie,
                qteBS: qte_sortie,
                stock: stock
            }
        });
        await modal.present();
        modal.onDidDismiss().then((data) => {
          if (data.data === 'withReq') {
            axios.get(`http://localhost:8080/gest_stock/webapi/bon_sortie`)
                  .then(response => {
                  this.filteredBS = [...response.data];
                  })
                  .catch(e => {
                      console.log(e);
                  })
          }
        })
        },
      deleteAlert (numBS) {
      return alertController
            .create({
              header: 'Confirmation',
              subHeader: 'Etes-vous vraiment sûr de vouloir supprimer cet élément ?',
              buttons: [{
              text: 'Non',
              role: 'cancel',
              cssClass: 'secondary',
              },
              {
              text: 'Oui',
              handler: () => {
                axios.delete(`http://localhost:8080/gest_stock/webapi/bon_sortie/${numBS}`)
                .then(() => {
                  let targetBS = this.filteredBS.find(item => item.num_bon_sortie === numBS);
                  let index = this.filteredBS.indexOf(targetBS);
                  this.filteredBS.splice(index, 1);
                })
                .catch(e => console.log(e))
              },
            },
            ],
            })
            .then(a => a.present())
    }
    }
}
</script>

<style scoped>
  .header{
    margin: 800px;
    margin: 10px;
    position: relative;
  }
</style>