<template>
  <ion-header>
    <ion-toolbar>
      <ion-title>Bon de sortie</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="form-modal">
      <label>Produit</label>
      <select v-model="num_produit">
          <option v-for="prod in prods" :key="prod.num_produit" :value="prod.num_produit" :id="prod.num_produit">
              {{ prod.designation }}
          </option>
      </select>
      <label>Date de sortie</label>
      <input type="date" v-model="date_sortie">
      <label>Quantité</label>
      <input type="number" placeholder="Quantité" min="0" v-model="qty">
    <div class="add-btns" v-if="form_method==='add'">
      <ion-button @click="closeModal('noReq')" color="medium">Fermer</ion-button>
      <ion-button @click="closeModal('withReq'); treatBonSortie()">Enregistrer</ion-button>
    </div>
    <div class="up-btns" v-if="form_method==='update'">
      <ion-button @click="closeModal('noReq')" color="medium">Annuler</ion-button>
      <ion-button @click="treatBonSortie();closeModal('withReq')">Modifier</ion-button>
    </div>
    </div>
  </ion-content>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
// import { alertController } from '@ionic/core';
import {
  IonContent,
  IonHeader,
  IonTitle,
  IonToolbar,
  IonButton,
  modalController,
} from "@ionic/vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "BonSortieModal",
  components: { IonContent, IonHeader, IonTitle, IonToolbar, IonButton },
  props: ['form_method', 'numBS', 'dateBS', 'qteBS', 'stock'],
  data() {
    return {
        prods: [],  
        num_produit: 'Allo',
        date_sortie: '',
        qty: 0
    }
  },
  setup() {
    const closeModal = (option) => {
      modalController.dismiss(option);
    };

    return { closeModal };
  }, 
  watch: {
      form_method: {
        handler(newVal) {
          if (newVal === 'update') {
            this.num_produit = this.numBS;
            this.date_sortie = moment(this.dateBS).format('YYYY-MM-DD');
            this.qty = this.qteBS;
          }
        },
        immediate: true
      },
  },
  created: async function() {
    await this.getProducts();
  },
  methods: {
    async getProducts() {
            return new Promise((resolve, reject) => {
                axios.get(`http://localhost:8080/gest_stock/webapi/produit`)
                .then(response => {
                this.prods = [...response.data];
                resolve('Success !');
                })
                .catch(e => {
                    reject(e);
                })
            })
        },
    async treatBonSortie () {
        // let newStock;
        if (this.form_method === 'add') {
          axios.post(`http://localhost:8080/gest_stock/webapi/bon_sortie`, {
            num_produit: this.num_produit,
            qte_sortie: this.qty,
            date_sortie: moment(this.date_sortie).format("yyyy-MM-DD")
        }).catch(e => console.log(e));
        // .then(() => {
        //     axios.get(`http://localhost:8080/gest_stock/webapi/produit/${this.num_produit}`)
        //             .then(res => {
        //       if (res.data.stock < this.qty) {
        //       alertController
        //               .create({
        //                 header: 'Avertissement',
        //                 subHeader: 'La quantité que vous voulez retirer dépasse le stock actuel.',
        //                 message: `Quantité : ${this.qty} - Stock actuel : ${this.stock}`,
        //                 buttons: ['OK'],
        //               })
        //               .then(a => a.present())
        //       } else {
        //             newStock = parseInt(res.data.stock) - parseInt(this.qty);
        //             axios.put(`http://localhost:8080/gest_stock/webapi/produit/${this.num_produit}`, {
        //               designation: res.data.designation,
        //               stock : newStock
        //             })
        //         }
        //     })
        // })
        } else if (this.form_method === 'update') {
            axios.put(`http://localhost:8080/gest_stock/webapi/bon_sortie/${this.numBS}`, {
            num_produit: this.num_produit,
            qte_sortie: this.qty,
            date_sortie: moment(this.date_sortie).format("yyyy-MM-DD")
            }).catch(e => console.log(e));
        }
        
    }
  }
});
</script>

<style scoped>
 input, select {
   width: 100%;
 }
 .form-modal {
   display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
 }
</style>