<template>
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Gestion de stock</ion-title>
      </ion-toolbar>
      <ion-toolbar color="medium">
        <div class="nav-bar">
          <router-link class="nav-link" to="/produits">Produits</router-link>
          <router-link class="nav-link" to="/bon_entree">Bons d'entrée</router-link>
          <router-link class="nav-link" to="/bon_sortie">Bons de sortie</router-link>
        </div>
      </ion-toolbar>
    </ion-header>
</template>

<script>
import { IonHeader, IonTitle, IonToolbar } from '@ionic/vue';
export default {
    components: {
    IonHeader,
    IonTitle,
    IonToolbar
  }
}
</script>

<style scoped>
  .nav-bar {
    display: flex;
    justify-content: space-around;
  }
  .nav-link {
    text-decoration: none;
    color: white;
  }
</style>