<template>
  <div class="header">
    <ion-list-header style="font-weight: bolder"> Liste de produits </ion-list-header>
    <ion-searchbar placeholder="Rechercher" v-model="searchQuery"></ion-searchbar>
  </div>
  <ion-list v-if="filteredProds && filteredProds.length > 0">
    <ion-item v-for="prod in filteredProds" :key="prod.num_produit">
      <ion-label>
        <h2>{{prod.designation}}</h2>
        <br>
        <p style="font-size:12px">
        Stock : {{prod.stock}}
        </p>
      </ion-label>
      <div class="actionBtns">
          <div class="addSubBtns">
            <ion-button size="small" fill="clear" color="dark" @click="changeQtyAlert('Entrée', prod, 'add')">
              <ion-icon :icon="add"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="dark" @click="changeQtyAlert('Sortie', prod, 'sub')">
              <ion-icon :icon="remove"></ion-icon>
            </ion-button>
          </div>
          <div class="upDelBtns">
            <ion-button size="small" fill="clear" color="dark">
              <ion-icon :icon="pencil"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" color="dark" @click="deleteAlert(prod.num_produit)">
              <ion-icon :icon="trash"></ion-icon>
            </ion-button>
          </div>
      </div>
    </ion-item>
  </ion-list>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { IonList, IonListHeader, IonItem, IonLabel, IonSearchbar } from '@ionic/vue';
import { options, add, remove, pencil, trash } from 'ionicons/icons';
import { alertController } from '@ionic/core';
export default {
    components: {
      IonList,
      IonListHeader,
      IonItem,
      IonLabel,
      IonSearchbar
    },
    props: ['prods'],
    data() {
      return {
        filteredProds: [],
        searchQuery: "",
        options,
        add,
        remove,
        pencil,
        trash
      }
    },
    watch: {
      prods: {
        handler(newVal) {
          this.filteredProds = [...newVal];
        },
        immediate: true,
        deep: true
      },
      searchQuery: {
        handler(newVal) {
          if (newVal === '') {
          this.filteredProds = [...this.prods];
        } else {
          this.filteredProds = this.prods.filter(prod => {
            return (prod.designation.toLowerCase().includes(newVal.toLowerCase()) || prod.stock.toString().includes(newVal));
          })
        }
        },
        immediate: true
      }
    },
    methods : {
      changeQtyAlert(title, curProd, option) {
      return alertController
        .create({
          header: `${title}`,
          inputs: [
            {
              name: 'qty',
              type: 'number',
              placeholder: 'Quantité',
              min: 0,
            },
          ],
          buttons: [
            {
              text: 'Annuler',
              role: 'cancel',
              cssClass: 'secondary',
            },
            {
              text: 'Ok',
              handler: (data) => {
                let newChange = this.filteredProds.find(item => item.num_produit === curProd.num_produit);
                let qty = data.qty;
                if (option === 'add') {
                  let newStock = parseInt(curProd.stock) + parseInt(qty);
                  console.log('NewStock', newStock);
                  axios.put(`http://localhost:8080/gest_stock/webapi/produit/${curProd.num_produit}`, {
                    designation : curProd.designation,
                    stock : newStock
                    }).then(() => {
                      newChange.stock = newStock;
                      axios.post(`http://localhost:8080/gest_stock/webapi/bon_entree`, {
                          num_produit: curProd.num_produit,
                          qte_entree: qty,
                          date_entree: moment(new Date()).format("YYYY-MM-DD")
                      }).catch(e => console.log(e));
                  }).catch(e => console.log(e))
                } else if (option === 'sub') {
                  if (qty > curProd.stock) {
                    alertController
                    .create({
                      header: 'Avertissement',
                      subHeader: 'La quantité que vous voulez retirer dépasse le stock actuel.',
                      message: `Quantité : ${qty} - Stock actuel : ${curProd.stock}`,
                      buttons: ['OK'],
                    })
                    .then(a => a.present())
                  } else {
                    let newStock = parseInt(curProd.stock) - parseInt(qty);
                    axios.put(`http://localhost:8080/gest_stock/webapi/produit/${curProd.num_produit}`, {
                      designation : curProd.designation,
                      stock : newStock
                      }).then(() => {
                        newChange.stock = newStock;
                        axios.post(`http://localhost:8080/gest_stock/webapi/bon_sortie`, {
                            num_produit: curProd.num_produit,
                            qte_sortie: qty,
                            date_sortie: moment(new Date()).format("YYYY-MM-DD")
                        }).catch(e => console.log(e));
                    }).catch(e => console.log(e))
                  }
                }
              },
            },
          ],
        })
        .then(a => a.present())
        .catch(e => console.log(e))
    }, 
    deleteAlert (numProd) {
      return alertController
            .create({
              header: 'Confirmation',
              subHeader: 'Etes-vous vraiment sûr de vouloir supprimer cet élément ?',
              buttons: [{
              text: 'Non',
              role: 'cancel',
              cssClass: 'secondary',
              },
              {
              text: 'Oui',
              handler: () => {
                axios.delete(`http://localhost:8080/gest_stock/webapi/produit/${numProd}`)
                .then(() => {
                  let targetProd = this.filteredProds.find(item => item.num_produit === numProd);
                  let index = this.filteredProds.indexOf(targetProd);
                  this.filteredProds.splice(index, 1);
                })
                .catch(e => console.log(e))
              },
            },
            ],
            })
            .then(a => a.present())
    }
    }
}
</script>

<style scoped>
  .header{
    margin: 800px;
    margin: 10px;
    position: relative;
  }
</style>